body {
  background-color: darkslategrey;
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
}

h5 {
  font-size: 16px;
}

/* -------------------- HOME PAGE -------------------- */
#nav {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: darkslategrey;
}

#nav-chevron {
  margin: 0px;
  padding: 0;
}

#nav-background {
  width: 300px;
}

#headshot {
  width: 7.5rem;
  height: 7.5rem;
}

#nav-name,
#nav-email {
  text-align: center;
  width: 240px;
}

#nav-email {
  padding-bottom: 0rem;
}

#bio-box {
  padding-bottom: 1.5rem;
}

#title-block {
  margin-top: 20px;
}

blockquote {
  margin-left: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
}

blockquote h5,
blockquote h1 {
  margin: 0px;
  padding-bottom: 8px;
}

#title-bracket-btm {
  margin-top: 0px;
}
/* -------------------- MY WORK PAGE -------------------- */

/* Setting height for work carousel */
#work-carousel {
  height: 500px;
}

.card {
  width: 300px;
}

.card-title {
  color: white;
  padding-bottom: 0.5rem;
}

#carousel-item {
  width: 300px;
  height: 500px;
}

.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {
  min-height: 70%;
}

.project-subtitle {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.project-description {
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 85%;
  font-size: 1.2rem;
}

.card-link {
  padding-top: 1rem;
  color: darkslategray;
}

.app-link {
  padding-right: 0.5rem;
}

/* -------------------- ABOUT ME PAGE -------------------- */

.card.horizontal .card-image {
  max-width: 35%;
}

#about-pic-div {
  background-color: #00bcd4;
}

.card.horizontal {
  width: 200px;
}

#about-me-detail {
  font-size: 1.1rem;
  text-align: justify;
}

/* -------------------- CONTACT ME PAGE -------------------- */

#contact-me-detail {
  text-align: center;
}

#contact-me-detail p {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  font-size: 1.1rem;
}

#contact-me-detail a {
  color: darkslategray;
}

#contact-me-detail i {
  padding-right: 0.5rem;
}

/* -------------------- RESPONSIVENESS ------------------- */
/* https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile */

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media screen and (min-width: 320px) {
}

/* smartphones, Android phones, landscape iPhone */
@media screen and (min-width: 480px) {
  .card.horizontal {
    width: 400px;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (min-width: 600px) {
  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  #title-block {
    margin-top: 30px;
  }

  blockquote {
    margin-left: 80px;
    margin-top: 24px;
  }

  blockquote h5,
  blockquote h1 {
    padding-bottom: 12px;
  }

  #nav-chevron {
    top: 10px;
    right: -16px;
  }

  .card.horizontal {
    width: 500px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width: 801px) {
  h1 {
    font-size: 48px;
  }

  h3 {
    font-size: 30px;
  }

  h5 {
    font-size: 18px;
  }

  #title-block {
    margin-top: 60px;
  }

  blockquote {
    margin-top: 36px;
  }

  #nav-chevron {
    display: block;
    right: -24px;
  }

  .card.horizontal {
    width: 700px;
  }
}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width: 991px) {
  h1 {
    font-size: 67.2px;
  }

  h3 {
    font-size: 41px;
  }

  h5 {
    font-size: 18.72px;
  }

  #nav-chevron {
    top: 20px;
    right: -40px;
  }

  #nav-chevron i {
    font-size: 30px;
  }

  #title-block {
    margin-top: 100px;
  }

  #about-me-blockquote {
    margin-top: 1rem;
  }

  .about-me-brackets {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 2.5rem;
  }

  #about-me-title,
  #contact-me-title {
    font-size: 2.5rem;
  }

  .card.horizontal {
    width: 800px;
  }

  #about-pic {
    top: 21px;
    bottom: -21px;
  }
}

@media screen and (min-width: 994px) {
  #nav-chevron {
    right: -100px;
  }
}

/* hi-res laptops and desktops */
@media screen and (min-width: 1281px) {
}
