body {
    background-color: darkslategrey;
}

/* -------------------- ABOUT ME PAGE -------------------- */

/* Setting height for work carousel */
#work-carousel {
    height: 500px;
    /* width: 350px; */
}

.card {
    width: 275px;
}

/* .card-image {
    border: 1px grey solid;
} */

.card-title {
    color: white;
}